.boxes {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5%; 
}

.box {
    border-radius: 2px;
    border: solid 1px #bdbbb9;
    position: relative;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 250px;
    height: 110px;
    overflow: hidden;
    background-size: contain; 
    /* margin: 50px auto; */
}

.box:hover .box-stuff,
.box:hover .box-stuff {
    margin-left: 50px;
}

.box:hover .icon {
    left: 0px;
}

.box-stuff {
    cursor: pointer;
    padding: 48px 18px;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.box-stuff span {
    font-weight: 900;
}

.box .icon {
    position: absolute;
    left: -60px;
    top: 0;
    color: #fff;
    /* width: 15px; */
    font-style: normal;
    padding: 42px 20px;
    background-color: #000;
    transition: left 0.3s ease;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
}

.box .icon:before {
    transition: content 3.3s ease;
    -webkit-transition: content 3.3s ease;
    -moz-transition: content 3.3s ease;
    -o-transition: content 3.3s ease;
    -ms-transition: content 3.3s ease;
}

.box-stuff span,
.box-stuff div {
    color: #000;
    background-color: #fff;
}

@media print {
    @page {
        margin: 1.5cm .5cm
    }

    * {
        -webkit-transition-property: none !important;
        -ms-transition-property: none !important;
        transition-property: none !important
    }

    html,
    body {
        font-size: 13pt;
        background: #ffffff;
        padding: 0 !important;
        display: block !important;
        height: inherit !important;
        min-height: inherit
    }
}

@media only screen and (max-width: 40em) {
    .portfolio-style {
        padding: 10vh .9375rem 0
    }

    .box {
        width: 160px; 
        height: 70px; 
    }

    .box-stuff {
        padding: 18px 8px; 
    }
}